.section.section-contact {
    background: #363f72;
    color: #fff;

    .contact-form .subtitle {
        color: rgba(255, 255, 255, 0.8);

        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}
