footer {
  margin-top: auto;
  background: #eaecf5;
  color: var(--text-color-dark);
  font-family: $footer-font-stack;

  a {
    color: var(--text-color-dark);
  }
}

.footer {
  display: flex;
  align-items: center;
  height: 128px;

  @include respond-to(768) {
    padding: 64px 16px 48px;
    align-items: unset;
    flex-direction: column-reverse;
    height: auto;
    gap: 18px;
  }

  .footer-logo {
    display: flex;
    gap: 24px;
    align-items: center;

    img {
      flex-shrink: 0;
      width: 42px;
      height: auto;
    }

    @include respond-to(768) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  .footer-links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 32px;

    @include respond-to(768) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;
    }

    .footer-email {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .social {
      display: flex;
      gap: 24px;
    }
  }
}
