button {
    border: 0;
    padding: 0;
    cursor: pointer;
}

.cta-button {
    font-size: 16px;
    display: inline-block;
    padding: 8px 18px;
    border-radius: 12px;
    background: var(--cta-color);
    color: #fff;
    font-weight: 500;
    border: none;
    text-decoration: none;
    transition: none;

    &:hover {
        color: #fff;
    }

    &.cta-button-md {
        padding: 12px 18px;
    }
}

.orange-header-image {
    margin: 0 auto 16px;
}